%header
  .container
    %h1 Zhangyuwen
    %h2 Per Zhang's personal page.
.container
  %section#main_content
    %h1#title Per Zhang
    %p
      Hi, I’m YUWEN ZHANG, Backend Developer at
      = succeed "," do
        %a{:href => "http://kechenggezi.com/", :target => "_blank"} ClassBox.com
      living in Beijing.
    %h2#social Social
    %p
      Email:
      %a{:href => "mailto:1612896130@qq.com"} 1612896130@qq.com
    %p
      Blog:
      %a{:href => "https://blog.csdn.net/zyw0713", :target => "_blank"} csdn.zhangyuwen.io
    %p
      GitHub:
      %a{:href => "https://github.com/zhangyuwen12", :target => "_blank"} github.com/per_z
    %p
      StackOverflow:
      %a{:href => "#", :target => "_blank"} StackOverflow
    %p
      Weibo:
      %a{:href => "https://www.weibo.com/5031600635", :target => "_blank"} weibo.com/per_z
