html, body {
  height: 100%;
  text-align: left;
  background-color: #000000;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header {
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1:before {
  content: "./ ";
  font-size: 24px;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  color: #b5e853;
}

header h2 {
  font-size: 18px;
  color: #666;
  font-weight: 300;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

#main_content h1 {
  font-size: 30px;
  color: #b5e853;;
  font-weight: normal;
}

#main_content h2 {
  font-size: 24px;
  color: #b5e853;;
  font-weight: normal;
}

p {
  color: #ffffff
}

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104,182,255,0.5);
}